<div class="clubs-container" data-controller="club">
  <div class="clubs-header">
    <h1>Clubs</h1>
  </div>
  <div class="clubs-body">
    <div class="clubs">
      <% @clubs.each do |club|%>
        <div class="club-card" data-club-target="clubCard">
          <div class="card-header">
            <i class="fa-solid fa-ellipsis"></i>
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="card-body">
            <div class="card-image">
              <%= cl_image_tag(club.image.key,width: 854,height: 480, quality:"auto:eco",:crop=>"fill")%>
            </div>
            <div class="card-info">
              <div class="card-title">
                <a href="clubs/<%=club.id%>">
                  <h3><%=club.name%></h3>
                </a>
              </div>
              <div class="category-members">

                <div class="card-category">
                  <%club.categories.each do|category|%>
                    <p><%=category.name%>, </p>
                  <%end%>
                </div>
                <div class="members">
                  <%= club.members.count%>
                  <i class="fa-solid fa-user-group"></i>

                </div>

              </div>
            </div>

            <div class="card-buttons">
              <%if current_user.clubs.exists?(club.id)%>
                <a href="clubs/<%=club.id%>" class="button main">View</a>
              <%else%>
                <a href="" class="button main" data-club-target="joinButton" data-club-id="<%=club.id%>" data-action="click->club#joinClub">Join</a>
              <%end%>
            </div>
          </div>
        </div>
      <% end%>
    </div>
    <div class="clubs-sidebar">
      <div class="clubs-sidebar-header">
        <h3>Categories</h3>
      </div>
      <div class="categories">
        <% @categories.each do |category|%>
          <div class="chackbox">
            <div class="checkbox-rect2">
              <input type="checkbox" id="<%= category.name%>" name="<%= category.name%>">
              <label for="<%= category.name%>"><%= category.name%></label>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
