<div class="club-create-container">
  <h2>Create club</h2>
  <div class="create_form">
    <%= form_for @club do |f| %>
       <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
      <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div class="field">
         <%= f.file_field :image_url %>
        </div>
    </div>
    <div class="actions">
        <div class="create-club"> <%= f.submit "create club", class: "button main" %></div>
        <div class="back"><%= link_to "Back", :back , class: "button"%></div>
      </div>
  </div>
      <% end %>
  </div>
</div>
