<div class="club-container p-2 xl:p-100 justify-center xl:justify-between " data-controller="club">
  <div class="sidebar hidden xl:flex">
    <%= render 'clubs/events' %>
  </div>
  <div class="main w-full xl:w-3/4 xl:ml-5">
    <div class="banner aspect-[16/9] lg:aspect-[16/10] xl:aspect-[4/1]">
      <%= cl_image_tag(@club.image.key)%>
    </div>
    <div class="header p-2 flex-col xl:flex-row xl:p-5">
      <div class="info flex-col self-start xl-flex-row xl:w-3/4">

        <div class="text-xl text-primary font-bold">
          <p><%=@club.name%></p>
        </div>
        <div class="flex flex-row xl:flex-col">
          <div class="privacy mr-3">
            <%if @club.public%>
              <i class="fa-solid fa-earth-europe"></i>
              <p>Public club</p>
            <%else%>
              <i class="fa-solid fa-lock"></i>
              <p>Private club</p>
            <%end%>
          </div>
          <div class="members">
            <i class="fa-solid fa-user-group"></i>
            <p><%=@club.users.count%> Members</p>
          </div>
        </div>

      </div>
      <div class="flex items-center justify-between w-full h-1/3 xl:w-1/4">
        <%if current_user.clubs.exists?(@club.id)%>
          <a href="" class="button main w-1/2 py-2" data-action="click->club#triggerPostModal">Post</a>
          <%= button_to "Leave" ,@membership, method: :delete, class: "button delete py-2 px-10" %>
        <%else%>
          <a href="" class="button main w-1/2" data-controller="club" data-club-target="joinButton" data-club-id="<%=@club.id%>" data-action="click->club#joinClub">Join</a><%end%>
      </div>
    </div>
    <div class="feed xl:px-20">
      <div class="about">
        <div class="title text-xl text-primary font-bold">
          <p>About</p>
        </div>
        <div class="description">
          <p>
            <%= @club.description%>
          </p>
        </div>
        <div class="category">
          <i class="fa-solid fa-tag"></i>

          <p><%= @club.category.name%></p>
        </div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>
          <p>Casablanca</p>
        </div>
      </div>
      <%if current_user.clubs.exists?(@club.id)%>
        <div class="posts">
          <% @posts.each do |post|%>
            <div class="post" data-controller="post">
              <div class="post-header">
                <div class="menu hide" data-post-target="menu">
                  <%if post.user.id == current_user.id || @club.owner.id == current_user.id%>
                    <%= button_to "delete", post, method: :delete, class: "delete"%>
                  <%end%>
                </div>
                <div class="author">
                  <div class="avatar">
                    <a href="/profile/<%=post.user.id%>">
                      <%=cl_image_tag(post.user.avatar_url)%>
                    </a>

                  </div>
                  <div class="name">
                    <p> <%= post.user.full_name%></p>
                  </div>
                </div>
                <i class="fa-solid fa-ellipsis trigger" data-action="click->post#triggerDropdown" data-post-target="trigger"></i>
              </div>
              <div class="content">
                <p>
                  <%= post.content%>
                </p>
                <% if post.photo.attached? %>
                  <div class="post-img">
                    <%=cl_image_tag(post.photo.key) %>
                  </div>
                <%end%>
              </div>
              <div  class="comments-container">
                <div class="comment-input">
                  <input type="text" data-post-target="comment">
                  <button class="button main" data-action="click->post#addComment" data-post="<%=post.id%>">Comment</button>
                </div>
                <div class="comments">
                  <%if post.comments.exists?%>
                    <% post.comments.each do |comment|%>
                      <div class="comment">
                        <div class="avatar">
                          <a href="/profile/<%=comment.user.id%>">
                            <%=cl_image_tag(comment.user.avatar_url)%>
                          </a>

                        </div>
                        <div class="comment-content">
                          <a href="/profile/<%=comment.user.id%> class="comment-author"><%= comment.user.full_name%></a>
                          <p><%= comment.content%></p>
                        </div>
                      </div>
                    <%end%>
                  <%else%>
                    <p>No comments yet</p>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      <%else%>
        <div class="private">
          <h2>This is a private club</h2>
          <div><i class="fa-solid fa-lock"></i></div>
        </div>
      <%end%>
    </div>
  </div>
  <!-- modal -->
  <div class="modal hide" data-club-target="postModal">
    <div class="modal-container">
      <div class="modal-container-header">
        <h1 class="modal-container-title">
          Create a Post
        </h1>
      </div>
      <div class="modal-container-body ">
        <%= simple_form_for @post do |f| %>
          <%= f.input :club_id, as: :hidden , input_html: { value: @club.id}%>
          <div class="input">
            <%= f.label :content %>
            <%= f.text_area :content, class: "text-area" %>
          </div>
          <%= f.input :photo, as: :file, input_html: {class: "add-image"} %>
          <div class="modal-container-footer">
            <%= f.submit "Create Post",class: "button main" %>
            <button class="button secondary" data-action="click->club#triggerPostModal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- create event modal -->
  <div class="modal hide" data-club-target="eventModal">
    <div class="modal-container">
      <div class="modal-container-header">
        <h1 class="modal-container-title">
          Create an event
        </h1>
      </div>
      <div class="modal-container-body ">
        <%= simple_form_for @event do |f| %>
          <%= f.input :club_id, as: :hidden , input_html: { value: @club.id}%>
          <%= f.input :event_name %>
          <%= f.input :location%>
          <%= f.input :start_time,as: :string,input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_time,as: :string,input_html: { data: { controller: "datepicker" } }%>
          <%= f.input :description, as: :text, class: "text-area" %>
          <div class="modal-container-footer">
            <%= f.submit "Create event",class: "button main" %>
            <button class="button secondary" data-action="click->club#triggerEventModal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
