<div class="club-container" data-controller="club">
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Events</h3>
      <button class="button main" data-action="click->club#triggerEventModal">create</button>
    </div>
    <%@events.each do |event|%>
      <div class="event">
        <div class="title">
          <p><%=event.event_name %></p>
        </div>
        <div class="event-info">
          <div class="date">
            <a value="<%=event.start_time.strftime("%F") %>" data-controller="datepicker" name="" id="">a</a>
            <i class="fa-regular fa-calendar" value="<%=event.start_time.strftime("%F") %>" data-controller="datepicker"></i>
            <i class="fa-solid fa-location-dot"></i>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <div class="main">
    <div class="banner">
      <%= image_tag(@club.image_url)%>
    </div>
    <div class="header">
      <div class="info">
        <div class="title">
          <p><%=@club.name%></p>
        </div>
        <div class="privacy">
          <%if @club.public%>
            <i class="fa-solid fa-earth-europe"></i>
            <p>Public club</p>
          <%else%>
            <i class="fa-solid fa-lock"></i>
            <p>Private club</p>
          <%end%>
        </div>
        <div class="members">
          <i class="fa-solid fa-user-group"></i>
          <p><%=@club.users.count%> Members</p>
        </div>
      </div>
      <div class="buttons">
        <%if current_user.clubs.exists?(@club.id)%>
          <a href="" class="button add-post" data-action="click->club#triggerPostModal">Post</a>
          <%= button_to "Leave" ,@membership, method: :delete, class: "button leave" %>
        <%else%>
          <a href="" class="button main" data-controller="club" data-club-target="joinButton" data-club-id="<%=@club.id%>" data-action="click->club#joinClub">Join</a><%end%>
      </div>
    </div>
    <div class="feed">
      <div class="about">
        <div class="title">
          <p>About</p>
        </div>
        <div class="description">
          <p>
            <%= @club.description%>
          </p>
        </div>
        <div class="category">
          <i class="fa-solid fa-tag"></i>
          <% @club.categories.each do |category|%>
            <p><%= category.name%></p>
          <%end%>
        </div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>
          <p>Casablanca</p>
        </div>
      </div>
      <%if current_user.clubs.exists?(@club.id)%>
        <div class="posts">
          <% @posts.each do |post|%>
            <div class="post" data-controller="post">
              <div class="post-header">
                <div class="menu hide" data-post-target="menu">
                  <%if post.user.id == current_user.id || @club.owner.id == current_user.id%>
                    <%= button_to "delete", post, method: :delete, class: "delete"%>
                  <%end%>
                </div>
                <div class="author">
                  <div class="avatar">
                    <%= cl_image_tag post.user.avatar.key if post.user.avatar.attached? %>
                  </div>
                  <div class="name">
                    <p> <%= post.user.full_name%></p>
                  </div>
                </div>
                <i class="fa-solid fa-ellipsis trigger" data-action="click->post#triggerDropdown" data-post-target="trigger"></i>
              </div>
              <div class="content">
                <p>
                  <%= post.content%>
                </p>
                <% if post.photo.attached? %>
                  <div class="post-img">
                    <%=cl_image_tag(post.photo.key) %>
                  </div>
                <%end%>
              </div>
              <div  class="comments-container">
                <div class="comment-input">
                  <input type="text" data-post-target="comment">
                  <button class="button main" data-action="click->post#addComment" data-post="<%=post.id%>">Comment</button>
                </div>
                <div class="comments">
                  <%if post.comments.exists?%>
                    <% post.comments.each do |comment|%>
                      <div class="comment">
                        <div class="avatar">
                          <%= cl_image_tag comment.user.avatar.key if comment.user.avatar.attached? %>
                        </div>
                        <div class="comment-content">
                          <p class="comment-author"><%= comment.user.full_name%></p>
                          <p><%= comment.content%></p>
                        </div>
                      </div>
                    <%end%>
                  <%else%>
                    <p>No comments yet</p>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      <%else%>
        <div class="private">
          <h2>This is a private club</h2>
          <div><i class="fa-solid fa-lock"></i></div>
        </div>
      <%end%>
    </div>
  </div>
  <!-- modal -->
  <div class="modal hide" data-club-target="postModal">
    <div class="modal-container">
      <div class="modal-container-header">
        <h1 class="modal-container-title">
          Create a Post
        </h1>
      </div>
      <div class="modal-container-body ">
        <%= simple_form_for @post do |f| %>
          <%= f.input :club_id, as: :hidden , input_html: { value: @club.id}%>
          <div class="input">
            <%= f.label :content %>
            <%= f.text_area :content, class: "text-area" %>
          </div>
          <%= f.input :photo, as: :file, input_html: {class: "add-image"} %>
          <div class="modal-container-footer">
            <%= f.submit "Create Post",class: "button main" %>
            <button class="button secondary" data-action="click->club#triggerPostModal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- create event modal -->
  <div class="modal hide" data-club-target="eventModal">
    <div class="modal-container">
      <div class="modal-container-header">
        <h1 class="modal-container-title">
          Create an event
        </h1>
      </div>
      <div class="modal-container-body ">
        <%= simple_form_for @event do |f| %>
          <%= f.input :club_id, as: :hidden , input_html: { value: @club.id}%>
          <%= f.input :event_name %>
          <%= f.input :location%>
          <%= f.input :start_time,as: :string,input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_time,as: :string,input_html: { data: { controller: "datepicker" } }%>
          <%= f.input :description, as: :text, class: "text-area" %>
          <div class="modal-container-footer">
            <%= f.submit "Create event",class: "button main" %>
            <button class="button secondary" data-action="click->club#triggerEventModal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
