<div class="signup-container">
  <div class="signup-form">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" ,class: "form-input"%>
      </div>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class: "form-input" %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
      </div>
      <div class="field">
        <%= f.file_field :avatar %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "button main" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
  <div class="side-panel"><%= image_tag("https://res.cloudinary.com/dgpk6t1we/image/upload/v1707159644/login_picture.png")%></div>
</div>
