<div class="profile-container">
  <div class="banner">
    <img class="cover-pic" src="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg" alt="...">
  </div>
  <div class="profile-info">
    <div class="left">
      <div class="avatar profile">
        <%= cl_image_tag(current_user.avatar_url)%>
      </div>
      <div class="info-section">
        <h5><em><%=current_user.full_name%></em>
          <a href="users/edit">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </h5>
        <p class="description">Description</p>
        <p class="mail"><%=current_user.email%></p>
      </div>
      <div class="stats">
        <div class="stat1">
          <p class="member-stat"><%=current_user.member_of_clubs.count%></p>
          <h6>MEMBER</h6>
        </div>
        <div class="stat2">
          <p class="admin-stat"><%=current_user.owned_clubs.count%></p>
          <h6>ADMIN</h6>
        </div>
        <div class="stat3">
          <p class="event-stat"><%=@events.count%></p>
          <h6>EVENTS</h6>
        </div>
      </div>
      <div class="bio">
        <p><%=current_user.bio%></p>
      </div>
      <div class="social-links">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
    <div class="right">
      <div class="tabs">
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab1">
        <label for="tab1" class="tabs__label">PHOTOS</label>
        <div class="tabs__content">
          <div class="photos">
            <%@posts.each do |post|%>
              <%if post.photo.attached?%>
                <div class="photo">
                  <%=cl_image_tag(post.photo.key, width: 500, height: 500, crop: "fill")%>
                </div>
              <%end%>
            <%end%>
          </div>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
        <label for="tab2" class="tabs__label">CLUBS</label>
        <div class="tabs__content">
          CONTENT for Tab #2
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab3" checked>
        <label for="tab3" class="tabs__label">EVENTS</label>
        <div class="tabs__content">
          <%= month_calendar(events: @events) do |date, events|%>
            <div class="day">
              <%=date.day%>
            </div>
            <%events.each do |event|%>
              <div class="event">
                <div class="title">
                  <a href="/events/<%=event.id%>"><%=event.event_name %></a>
                </div>
                <div class="event-info ">
                  <div class="location">
                    <p>
                      <%= event.location%>
                    </p>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
